.r, .s, .p{
	height: 25vh;
	width: 25vh;
	display: inline;
	padding: 50px;
}

body{
	height: 100%;
	width: 100%;
	text-align: center;
}

.topHeader{
	margin: 0 auto;
	border-bottom: black solid 2px;
}

.Header2{
	margin-bottom: 10vh;
}

.btn{
	background: none;
	border: none;
}

.btn:hover{
	box-shadow: 100%;
	border: black solid;
}

.btn:active{
	border: black solid;
	background: #443322;
}

.Header3{
	margin-bottom: 1vh;
}

.nRBTN{
	margin-bottom: 10vh;
}